<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav header-list header-font">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Token
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">TOKEN USE</a>
            <a class="dropdown-item" href="#">SALE MECHANICS</a>
            <a class="dropdown-item" href="#">ALPHA ACCESS</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/whitepapers">WHITE PAPERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRESS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">TEAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">BLOG</a>
        </li>
      </ul>
    </div>
  </nav>
</header>